all:
  hosts:
    node1:
      ansible_host: <headnode-host-in-your-ssh-config> # In your SSH config file, the name you gave in the HOST field.
    node2:
      ansible_host: <node2-in-your-ssh-config> # In your SSH config file, the name you gave in the HOST field.
    node3:
      ansible_host: <node3-in-your-ssh-config> # In your SSH config file, the name you gave in the HOST field.
    node4:
      ansible_host: <node4-in-your-ssh-config> # In your SSH config file, the name you gave in the HOST field.

  children:
    head_node:
      hosts:
        node1:

    compute_nodes:
      hosts:
        node2:
        node3:
        node4:
      vars:
        nfs_host: 10.2.x.1 # NFS host IP address in your cluster LAN

    login_node:
      hosts:
        node1:

    db_node:
      hosts:
        node1:
  vars:
    slurm_url: "https://download.schedmd.com/slurm/slurm-24.11.0-0rc2.tar.bz2"
    slurm_version: "{{ slurm_url | regex_search('slurm-([\\d\\.\\w-]+)\\.tar\\.bz2', '\\1') | first }}"
    slurm_filename: "{{ slurm_url | regex_search('(slurm-[\\d\\.\\w-]+)\\.tar\\.bz2', '\\1') | first }}"
    job_num: 16 # The total number of core in your cluster
    network: "10.2.210.0/24" # Your cluster LAN
    users:
      - name: user1
        public_keys:
          - "user1-public-key"
      - name: user2
        public_keys:
          - "user2-public-key-1"
          - "user2-public-key-2"
