all:
  hosts:
    head_node:
      ansible_host: head.id10.hpc.sdc
  children:
    compute_nodes:
      hosts:
        node_2:
          ansible_host: node2.id10.hpc.sdc
        node_3:
          ansible_host: node3.id10.hpc.sdc
        node_4:
          ansible_host: node4.id10.hpc.sdc
      vars:
        nfs_host: 10.10.10.1

    login_node:
      hosts:
        head_node:
  vars:
    network: "10.2.210.0/24"
    users:
      - name: user1
        public_keys:
          - "user1-public-key"
      - name: user2
        public_keys:
          - "user2-public-key-1"
          - "user2-public-key-2"
